{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-md-6 offset-md-3 my-5">
<form method="POST">
    {% csrf_token %}
      <input type="input" class="form-control" name="search" placeholder="Search Tweet" ><br><br>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<h4> You search for: {{search}}</h4>

<h4>Results:</h4>
{% if searched %}
    {% for tweet in searched %}
    <div class="card mb-3" style="max-width: 540px;border:1px solid black">
        <div class="row g-0">
          <div class="col-md-4">
            {% if tweet.user.profile.profile_image %}
            <img src="{{tweet.user.profile.profile_image.url }}" class="img-fluid rounded-start" style="border:1px solid black">
            {% else %}
            <img src="{% static 'images/profile.png'%}" class="img-fluid rounded-start">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ tweet.user }}</h5>
              <p class="card-text">{{ tweet.body }}</p>
              <p class="card-text"><small class="text-body-secondary">{{ tweet.created_at }} . {{tweet.number_of_likes}}
                likes . 
                {% if user in tweet.likes.all %}
                <a href="{% url 'tweet_likes' tweet.id %}"><i class="fa fa-thumbs-down"></i></a>
              {% else %}
              <a href="{% url 'tweet_likes' tweet.id %}"><i class="fa fa-thumbs-up"></i></a>
              {% endif %}
              . <a href="{% url 'tweet_show' tweet.id %}"><i class="fa fa-share"></i></a>
              {%if profile.user.username == request.user.username %}
                 . <a href="{% url 'delete_tweet' tweet.id %}"><i class="material-icons" style="font-size:15px;">delete</i></a>
                  . <a href="{% url 'edit_tweet' tweet.id %}"><i class="material-icons" style="font-size:15px;">edit</i></a>
                 {%endif%}
                </small></p>
            </div>
          </div>
        </div>
      </div>
    
      {% endfor %}
    {% endif %}
{% endblock %}